/* 
    NavBar
*/
#navigation img{
    width: 30%;
    background: rgb(7, 138, 138);
}

hr {
    color: rgb(199, 176, 143);
    margin: 30px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
}

/* 
    Placing some info at the bottom of basic main container
*/



.features{
    display: block;
    position: relative;
    margin: auto;
    font-family: 'Aubrey'
}


.features .sections figure{
    height: 100%;
    float: left;
    width: 30%;
}

.features .sections figure img{
    height: 30%;
    width: 70%;
}

.feature-article{
    float: none;

}
 


.testimonial figure{
    height: 100%;
    float: left;
}

.testimonial article, .testimonial .test-footer{
    float: none;
}

.testimonial .test-footer{
    font-family: 'Almendra'
}
.testimonial {
    font-family: 'Pompiere';
}



#mymodal {
    height: 100%;
    width: 100%;
}

.footer{
    background: rgb(7, 138, 138);
    color: antiquewhite;
}




