/* 
    NavBar
*/
#navigation img{
    width: 30%;
    background: rgb(7, 138, 138);
}


hr {
    color: rgb(199, 176, 143);
    margin: 30px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
}

/* 
    Placing some info at the bottom of basic main container
*/





 


.details figure{
    height: 100%;
    float: left;
}

.details article, .details .test-footer{
    float: none;
}

.details .test-footer{
    font-family: 'Almendra'
}
.details {
    font-family: 'Pompiere';
}



#mymodal {
    height: 100%;
    width: 100%;
}

.footer{
    margin: 0%;
    background: rgb(7, 138, 138);
    color: antiquewhite;
}
/* 
#carouselImage {
    width: 90%;
    height: auto;
} */




